<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Repo Email</title>
</head>

<body>

    <h2>Dear {{company}}</h2>
    <p>I hope this email finds you well. I am writing to officially request the repossession of a subject vehicle on
        behalf of Mend Financial. As the authorized representative of Mend Financial, I have attached all the necessary
        documentation to facilitate the repossession process smoothly and efficiently.</p>
    <p>Please acknowledge the receipt of this email and confirm the initiation of the repossession process as soon as
        possible. Your prompt attention to this matter is greatly appreciated.</p>
    <a href={{pdfone}}>Aggrement</a>
    <a href={{pdftwo}}> Order Reposses</a>
    <br><br>
    <p>Thank you for your cooperation.</p>
    <br>
    <p>Sincerely,</p>
    <br>
    <p>{{name}}</p>
    <p>Mend Financial Representative</p>

</body>

</html>