<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification@AuxDrive</title>
</head>

<body>

    <h2>Dear {{name}}</h2>
    <p>Welcome to AuxDRIVE! We are delighted to have you on board as a valued member of our Dealership Automation
        system. Thank you for choosing us to streamline and enhance your dealership operations.</p>
    <p>To confirm your email address and complete the registration process, please click on the following link: <a
            href={{hostname}}/api/v1/auth/confirm/{{confirmationCode}}> Click here</a></p>
    <p>Once your email address is confirmed, you will gain access to a wide range of features and tools that will assist
        you in managing your dealership more efficiently.</p>
    <p>We are committed to providing you with exceptional support and assistance along your journey with AuxDRIVE. Our
        dedicated customer service team is always ready to address any questions or concerns you my have. Feel free to
        reach out to us at <b>auxdrive.net</b>.</p>
    <p>We once again thank you for choosing AuxDRIVE. Your partnership means a lot to us, and we are excited to embark
        on this journey together.</p>
    <p>Wishing you great success in utilizing our Dealership Automation system!</p>
    <br>
    <p>Best regards,</p>
    <br>
    <p>The AuxDRIVE Team</p>

</body>

</html>